<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Servers</key>
	<array>
		<dict>
			<key>title</key>
			<string>漫画柜old</string>
			<key>mainURL</key>
			<string>https://www.manhuagui.com</string>
			<key>icon</key>
			<string>http://source.51devapp.com/comics/ManHuaGui.png</string>
			<key>serverOnlyID</key>
			<integer>1085</integer>
			<key>miniAppVer</key>
			<string>com.MX.mhb:3.1.0;com.hts.hjdm:3.1.0;</string>
			<key>headersForWebPage</key>
			<dict>
				<key>User-Agent</key>
				<string>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.0.3 Safari/605.1.15</string>
			</dict>
			<key>headersForCoverImage</key>
			<dict>
				<key>User-Agent</key>
				<string>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.0.3 Safari/605.1.15</string>
			</dict>
			<key>headersForDownloadComicImage</key>
			<dict>
				<key>User-Agent</key>
				<string>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.0.3 Safari/605.1.15</string>
				<key>Referer</key>
				<string>https://www.manhuagui.com/comic/33920/460683.html</string>
				<key>Accept</key>
				<string>image/png,image/svg+xml,image/*;q=0.8,video/*;q=0.8,*/*;q=0.5</string>
			</dict>
			<key>headersForOnlineViewComicImage</key>
			<dict>
				<key>User-Agent</key>
				<string>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.0.3 Safari/605.1.15</string>
				<key>Referer</key>
				<string>https://www.manhuagui.com/comic/33920/460683.html</string>
				<key>Accept</key>
				<string>image/png,image/svg+xml,image/*;q=0.8,video/*;q=0.8,*/*;q=0.5</string>
			</dict>
			<key>removeNoShowOfComicNameList</key>
			<array>
				<string>阎王法则</string>
				<string>青空之夏</string>
				<string>哑舍</string>
				<string>我不是精分</string>
				<string>狐狸的枷锁</string>
			</array>
			<key>classOfChooseList</key>
			<dict>
				<key>Classes</key>
				<array>
					<dict>
						<key>title</key>
						<string>日本</string>
						<key>url1</key>
						<string>https://www.manhuagui.com/list/japan/index_p1.html</string>
						<key>url</key>
						<string>https://www.manhuagui.com/list/japan/index_p@.html</string>
						<key>parseLevel</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>title</key>
						<string>港台</string>
						<key>url1</key>
						<string>https://www.manhuagui.com/list/hongkong/index_p1.html</string>
						<key>url</key>
						<string>https://www.manhuagui.com/list/hongkong/index_p@.html</string>
						<key>parseLevel</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>title</key>
						<string>欧美</string>
						<key>url1</key>
						<string>https://www.manhuagui.com/list/europe/index_p1.html</string>
						<key>url</key>
						<string>https://www.manhuagui.com/list/europe/index_p@.html</string>
						<key>parseLevel</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>title</key>
						<string>内地</string>
						<key>url1</key>
						<string>https://www.manhuagui.com/list/china/index_p1.html</string>
						<key>url</key>
						<string>https://www.manhuagui.com/list/china/index_p@.html</string>
						<key>parseLevel</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>title</key>
						<string>韩国</string>
						<key>url1</key>
						<string>https://www.manhuagui.com/list/korea/index_p1.html</string>
						<key>url</key>
						<string>https://www.manhuagui.com/list/korea/index_p@.html</string>
						<key>parseLevel</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>title</key>
						<string>其他</string>
						<key>url1</key>
						<string>https://www.manhuagui.com/list/other/index_p1.html</string>
						<key>url</key>
						<string>https://www.manhuagui.com/list/other/index_p@.html</string>
						<key>parseLevel</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>title</key>
						<string>完结</string>
						<key>url1</key>
						<string>https://www.manhuagui.com/list/wanjie/index_p1.html</string>
						<key>url</key>
						<string>https://www.manhuagui.com/list/wanjie/index_p@.html</string>
						<key>parseLevel</key>
						<integer>1</integer>
					</dict>
				</array>
				<key>classGetResponseIsPostMethod_PostDataKeys_Dict</key>
				<dict/>
				<key>classGetResponseIsPostMethod_PostData_PageNoKey</key>
				<string>pageno</string>
				<key>classGetResponseIsPostMethod_PostData_PageSizeKey</key>
				<string>pagesize</string>
				<key>classGetResponseIsPostMethod_PostData_ClassIDKey</key>
				<string>subject</string>
				<key>classComicCoverImageUrlMainUrl</key>
				<string></string>
				<key>classPageType_HTMLIsYES_JSONIsNO</key>
				<true/>
				<key>classOfIsHtml</key>
				<dict>
					<key>classWebPageSourceCharset_UTF8IsYES_GB2312IsNo</key>
					<true/>
					<key>classWebPageSourceReplaceStr_Array</key>
					<array>
						<string>换行</string>
						<string>回车</string>
					</array>
					<key>classWebPageSourceResolveBegin</key>
					<string></string>
					<key>classWebPageSourceResolveEnd</key>
					<string></string>
					<key>classWebPageSourceRegex</key>
					<dict>
						<key>regex</key>
						<string>li&gt;&lt;a class=&quot;(.*?)&quot; href=&quot;(.*?)&quot; title=&quot;(.*?)&quot;&gt;&lt;img(.*?)src=&quot;(.*?)&quot; alt=&quot;(.*?)&quot;/&gt;&lt;span class=&quot;bg&quot;&gt;&lt;/span&gt;&lt;span class=&quot;tt&quot;&gt;更新至(.*?)&lt;/span&gt;(.*?)更新于：(.*?)&lt;em&gt;</string>
						<key>name</key>
						<integer>3</integer>
						<key>author</key>
						<integer>0</integer>
						<key>state</key>
						<integer>7</integer>
						<key>stateStringBegin</key>
						<string></string>
						<key>coverImageUrl</key>
						<integer>5</integer>
						<key>coverImageUrlIsNeedUTF8Encode</key>
						<false/>
						<key>comicDetailPageUrl</key>
						<integer>2</integer>
						<key>comicDetailPageIsNeedAddMainUrl</key>
						<string>https://www.manhuagui.com</string>
					</dict>
					<key>classEndPageFlag</key>
					<string>下一页</string>
				</dict>
				<key>classOfIsJson</key>
				<dict>
					<key>classJsonResponse_ObjectForKey_Array</key>
					<array/>
					<key>classJsonSetHTTPMethod_POSTOrGET</key>
					<string></string>
					<key>classComicDetailPageUrlStringByReplacing_ComicUrlFormat</key>
					<string></string>
					<key>classComicCoverImageUrlStringByReplacing_CoverImageUrlFormat</key>
					<string></string>
					<key>classComicNextPageIsNotFixationAdd</key>
					<false/>
					<key>classJsonNextPageResponse_ObjectForKey_Array</key>
					<array/>
					<key>classJsonNextPageNumWithKey</key>
					<string></string>
					<key>classKey</key>
					<dict>
						<key>nameKey</key>
						<string></string>
						<key>authorKey</key>
						<string></string>
						<key>stateWithDicShow_StrIsYES_NumIsNO</key>
						<true/>
						<key>stateKey</key>
						<string></string>
						<key>imageUrlKey</key>
						<string></string>
						<key>comicUrlKey</key>
						<string></string>
					</dict>
				</dict>
			</dict>
			<key>updateOfChooseList</key>
			<dict>
				<key>updateComicUrlWithDataIsNeedNowTime_Dict</key>
				<dict/>
				<key>updatePageMainUrl</key>
				<string>https://www.manhuagui.com/list/lianzai/</string>
				<key>updateGetResponseIsPostMethod_PostDataKeys_Dict</key>
				<dict/>
				<key>updateGetResponseIsPostMethod_PostData_PageNoKey</key>
				<string>pageno</string>
				<key>updateGetResponseIsPostMethod_PostData_PageSizeKey</key>
				<string>pagesize</string>
				<key>updateGetResponseIsPostMethod_PostData_ClassIDKey</key>
				<string>subject</string>
				<key>updateComicCoverImageUrlMainUrl</key>
				<string></string>
				<key>updatePageType_HTMLIsYES_JSONIsNO</key>
				<true/>
				<key>updateOfIsHtml</key>
				<dict>
					<key>updateWebPageSourceCharset_UTF8IsYES_GB2312IsNo</key>
					<true/>
					<key>updateWebPageSourceRepleaseStr_Array</key>
					<array>
						<string>换行</string>
						<string>回车</string>
						<string>&lt;link</string>
					</array>
					<key>updateWebPageSourceResolveBegin</key>
					<string></string>
					<key>updateWebPageSourceResolveEnd</key>
					<string></string>
					<key>updateWebPageSourceRegex</key>
					<dict>
						<key>regex</key>
						<string>li&gt;&lt;a class=&quot;(.*?)&quot; href=&quot;(.*?)&quot; title=&quot;(.*?)&quot;&gt;&lt;img(.*?)src=&quot;(.*?)&quot; alt=&quot;(.*?)&quot;/&gt;&lt;span class=&quot;bg&quot;&gt;&lt;/span&gt;&lt;span class=&quot;tt&quot;&gt;更新至(.*?)&lt;/span&gt;(.*?)更新于：(.*?)&lt;em&gt;</string>
						<key>name</key>
						<integer>3</integer>
						<key>author</key>
						<integer>0</integer>
						<key>state</key>
						<integer>7</integer>
						<key>stateStringBegin</key>
						<string></string>
						<key>coverImageUrl</key>
						<integer>5</integer>
						<key>coverImageUrlIsNeedUTF8Encode</key>
						<false/>
						<key>comicDetailPageUrl</key>
						<integer>2</integer>
						<key>comicDetailPageIsNeedAddMainUrl</key>
						<string>https://www.manhuagui.com</string>
					</dict>
				</dict>
				<key>updateOfIsJson</key>
				<dict>
					<key>updateJsonResponse_ObjectForKey_Array</key>
					<array/>
					<key>updateComicDetailPageUrlStringByReplacing_ComicUrlFormat</key>
					<string></string>
					<key>updateComicCoverImageUrlStringByReplacing_CoverImageUrlFormat</key>
					<string></string>
					<key>updateKey</key>
					<dict>
						<key>nameKey</key>
						<string></string>
						<key>authorKey</key>
						<string></string>
						<key>stateWithDicShow_StrIsYES_NumIsNO</key>
						<true/>
						<key>stateKey</key>
						<string></string>
						<key>imageUrlKey</key>
						<string></string>
						<key>comicUrlKey</key>
						<string></string>
					</dict>
				</dict>
			</dict>
			<key>hotOfChoosseList</key>
			<dict>
				<key>hotPageMainUrl</key>
				<string>https://www.manhuagui.com/rank/total.html</string>
				<key>hotGetResponseIsPostMethod_PostDataKeys_Dict</key>
				<dict/>
				<key>hotGetResponseIsPostMethod_PostData_PageNoKey</key>
				<string>pageno</string>
				<key>hotGetResponseIsPostMethod_PostData_PageSizeKey</key>
				<string>pagesize</string>
				<key>hotGetResponseIsPostMethod_PostData_ClassIDKey</key>
				<string>subject</string>
				<key>hotComicCoverImageUrlMainUrl</key>
				<string></string>
				<key>hotPageType_HTMLIsYES_JSONIsNO</key>
				<true/>
				<key>hotOfIsHtml</key>
				<dict>
					<key>hotWebPageSourceCharset_UTF8IsYES_GB2312IsNo</key>
					<true/>
					<key>hotWebPageSourceRepleaseStr_Array</key>
					<array>
						<string>换行</string>
						<string>回车</string>
						<string>&lt;link</string>
					</array>
					<key>hotWebPageSourceResolveBegin</key>
					<string></string>
					<key>hotWebPageSourceResolveEnd</key>
					<string></string>
					<key>hotWebPageSourceRegex</key>
					<dict>
						<key>regex</key>
						<string>&lt;td class=&quot;rank-title&quot;&gt;&lt;h5&gt;&lt;a href=&quot;(.*?)&quot;&gt;(.*?)&lt;/a&gt;&lt;/h5&gt; &amp;nbsp; \[ &lt;span class=&quot;(.*?)&quot;&gt;(.*?)&lt;/span&gt; ]&lt;/td&gt;&lt;td&gt;&lt;div class=&quot;rank-author&quot;&gt;&lt;a href=&quot;(.*?)&quot; title=&quot;(.*?)&quot;&gt;</string>
						<key>name</key>
						<integer>2</integer>
						<key>author</key>
						<integer>6</integer>
						<key>state</key>
						<integer>4</integer>
						<key>stateStringBegin</key>
						<string></string>
						<key>coverImageUrl</key>
						<integer>0</integer>
						<key>coverImageUrlIsNeedUTF8Encode</key>
						<false/>
						<key>comicDetailPageUrl</key>
						<integer>1</integer>
						<key>comicDetailPageIsNeedAddMainUrl</key>
						<string>https://www.manhuagui.com</string>
					</dict>
				</dict>
				<key>hotOfIsJson</key>
				<dict>
					<key>hotJsonResponse_ObjectForKey_Array</key>
					<array/>
					<key>hotComicDetailPageUrlStringByReplacing_ComicUrlFormat</key>
					<string></string>
					<key>hotComicCoverImageUrlStringByReplacing_CoverImageUrlFormat</key>
					<string></string>
					<key>hotKey</key>
					<dict>
						<key>nameKey</key>
						<string></string>
						<key>authorKey</key>
						<string></string>
						<key>stateWithDicShow_StrIsYES_NumIsNO</key>
						<true/>
						<key>stateKey</key>
						<string></string>
						<key>imageUrlKey</key>
						<string></string>
						<key>comicUrlKey</key>
						<string></string>
					</dict>
				</dict>
			</dict>
			<key>detailsOfChooseList</key>
			<dict>
				<key>detailsPageType_HTMLIsYES_JSONIsNO</key>
				<true/>
				<key>detailsReplaceStringIsNeedReturnReplace_NeedIsYES_OrIsNO</key>
				<true/>
				<key>detailComicListIsSortedYESOrNo</key>
				<true/>
				<key>detailsWebPageImageUTF8IsYES</key>
				<true/>
				<key>detailsOfIsHtml</key>
				<dict>
					<key>detailsWebPageSourceReplaceStr_Dict</key>
					<dict/>
					<key>detailsWebPageSourceCharset_UTF8IsYES_GB2312IsNo</key>
					<true/>
					<key>detailsWebPageSourceReplaceStr_Array</key>
					<array>
						<string>换行</string>
						<string>回车</string>
					</array>
					<key>detailsWebPageSourceRe_ReplaceStr_Array</key>
					<array>
						<string>###</string>
						<string>@@@</string>
					</array>
					<key>detailsCoverImageUrlDeleteStr_Array</key>
					<array>
						<string>换行</string>
						<string>回车</string>
					</array>
					<key>detailsWebPageSourceRegex</key>
					<dict>
						<key>authorRegular</key>
						<string>漫画作者：&lt;/strong&gt;&lt;a href=&quot;(.*?)&quot; title=&quot;(.*?)&quot;&gt;(.*?)&lt;/a&gt;</string>
						<key>authorIndex</key>
						<integer>3</integer>
						<key>stateRegular</key>
						<string>漫画状态：&lt;/strong&gt;&lt;span class=&quot;(.*?)&quot;&gt;(.*?)&lt;/span&gt;</string>
						<key>stateIndex</key>
						<integer>2</integer>
						<key>favStateRegular</key>
						<string>漫画状态：&lt;/strong&gt;&lt;span class=&quot;red&quot;&gt;(.*?)&lt;/span&gt;。最近于 \[&lt;span class=&quot;red&quot;&gt;(.*?)&lt;/span&gt;\] 更新至 \[ &lt;a href=&quot;(.*?)&quot; target=&quot;_blank&quot; class=&quot;blue&quot;&gt;(.*?)&lt;/a&gt;</string>
						<key>favStateIndex</key>
						<integer>4</integer>
						<key>updateDateRegular</key>
						<string>漫画状态：&lt;/strong&gt;&lt;span class=&quot;red&quot;&gt;(.*?)&lt;/span&gt;。最近于 \[&lt;span class=&quot;red&quot;&gt;(.*?)&lt;/span&gt;\] 更新至 \[ &lt;a href=&quot;(.*?)&quot; target=&quot;_blank&quot; class=&quot;blue&quot;&gt;(.*?)&lt;/a&gt;</string>
						<key>updateDateIndex</key>
						<integer>2</integer>
						<key>introRegular</key>
						<string>&lt;meta name=&quot;description&quot; content=&quot;(.*?)&quot; /&gt;</string>
						<key>introIndex</key>
						<integer>1</integer>
						<key>coverImageRegular</key>
						<string>&lt;div class=&quot;book-cover fl&quot;&gt;&lt;p class=&quot;hcover&quot;&gt;&lt;img src=&quot;(.*?)&quot; alt=&quot;(.*?)&quot; /&gt;</string>
						<key>coverImageIndex</key>
						<integer>1</integer>
						<key>coverImageStringEnd</key>
						<string></string>
						<key>subListStart</key>
						<string>章节全集</string>
						<key>subListEnd</key>
						<string></string>
						<key>subListRegular</key>
						<string>&lt;li&gt;&lt;a href=&quot;(.*?)&quot; title=&quot;(.*?)&quot; class=&quot;status0&quot; target=&quot;_blank&quot;&gt;&lt;span&gt;(.*?)&lt;i&gt;(.*?)&lt;/i&gt;</string>
						<key>subTitleIndex</key>
						<integer>3</integer>
						<key>subUrlIndex</key>
						<integer>1</integer>
					</dict>
					<key>detailsWebPageSourceNewRegex</key>
					<dict>
						<key>detailsNewComicUrl</key>
						<string></string>
						<key>authorRegular</key>
						<string></string>
						<key>authorIndex</key>
						<integer>0</integer>
						<key>stateRegular</key>
						<string></string>
						<key>stateIndex</key>
						<integer>0</integer>
						<key>favStateRegular</key>
						<string></string>
						<key>favStateIndex</key>
						<integer>0</integer>
						<key>updateDateRegular</key>
						<string></string>
						<key>updateDateIndex</key>
						<integer>0</integer>
						<key>introRegular</key>
						<string></string>
						<key>introIndex</key>
						<integer>0</integer>
						<key>coverImageRegular</key>
						<string></string>
						<key>coverImageIndex</key>
						<integer>0</integer>
						<key>coverImageStringEnd</key>
						<string></string>
						<key>subListStart</key>
						<string>章节列表</string>
						<key>subListEnd</key>
						<string></string>
						<key>subListRegular</key>
						<string></string>
						<key>subTitleIndex</key>
						<integer>0</integer>
						<key>subUrlIndex</key>
						<integer>0</integer>
					</dict>
				</dict>
				<key>detailsOfIsJson</key>
				<dict>
					<key>detailsForListIsNeedDataOfOldDic_NeedIsYES_OrIsNO</key>
					<false/>
					<key>detailsComicCoverImageUrlNeedInfoKey_NeedIsYES_OrIsNO</key>
					<true/>
					<key>detailsComponentsSeparatedByStringWithUrl</key>
					<string></string>
					<key>detailsJsonResponse_ObjectForKey_DetailsArray</key>
					<array/>
					<key>detailsJsonResponse_ObjectForKey_ListArray</key>
					<array/>
					<key>detailsInfoKey</key>
					<dict>
						<key>comicMainURL_NeedReplaceFormat</key>
						<string></string>
						<key>comicUpdateTimeKey</key>
						<string></string>
						<key>comicUpdateTimeIsNeedInterval</key>
						<false/>
						<key>comicStateKey</key>
						<string></string>
						<key>comicStateWithDicShow_StrIsYES_NumIsNO</key>
						<false/>
						<key>comicStateDicKeyArray</key>
						<array/>
						<key>comicStateArrayNum</key>
						<integer>0</integer>
						<key>comicAutherKey</key>
						<string></string>
						<key>comicAuthorDicKeyArray</key>
						<array/>
						<key>comicAuthorArrayNum</key>
						<integer>0</integer>
						<key>comicIntroKey</key>
						<string></string>
						<key>comicIntroDicKeyArray</key>
						<array/>
						<key>comicIntroArrayNum</key>
						<integer>0</integer>
						<key>comicCoverImageUrl</key>
						<string></string>
						<key>comicCoverImageDicKeyArray</key>
						<array/>
						<key>comicCoverImageArrayNum</key>
						<integer>0</integer>
						<key>comicWithCookie_Regular</key>
						<string></string>
						<key>cookieHeadNum</key>
						<integer>0</integer>
						<key>cookieEndNum</key>
						<integer>0</integer>
					</dict>
					<key>detailsSubListKey</key>
					<dict>
						<key>subListURL_NeedReplaceFormat</key>
						<string></string>
						<key>subListObjectForKey_UrlKey</key>
						<string></string>
						<key>subListManuallyChooseResources_NeedArrayNum</key>
						<integer>-1</integer>
						<key>subListNewComicResources_ObjectForKey_ListArray</key>
						<array/>
						<key>subListShowDictHaveArrayTotalNumber_Key</key>
						<string></string>
						<key>subOneListURL</key>
						<string></string>
						<key>subListTitleKey</key>
						<string></string>
						<key>subListUrlKey</key>
						<string></string>
						<key>subNextUrlKey</key>
						<string></string>
					</dict>
				</dict>
			</dict>
			<key>searchOfChooseList</key>
			<dict>
				<key>searchKeyWordConvertString_NeedUTF8IsYES_GB2312IsNO</key>
				<true/>
				<key>searchPageType_HTMLIsYES_JSONIsNO</key>
				<true/>
				<key>searchComicMainUrlIsChange_ReplaceMainUrl</key>
				<string></string>
				<key>searchMainUrlStringWithSplite_ArrayOfNum</key>
				<integer>0</integer>
				<key>searchPageComicMainUrl</key>
				<string>https://www.manhuagui.com/s/@_p1.html</string>
				<key>searchPageComicMainUrlNextUrl</key>
				<string>https://www.manhuagui.com/s/@_p#.html</string>
				<key>searchResponseIsNeedPagingMethod_NeedIsYES_OrIsNO</key>
				<true/>
				<key>searchResponseIsPagingMethod_PageKeys_Dict</key>
				<dict>
					<key>pagingMethod_pageNum</key>
					<integer>0</integer>
					<key>pagingMethod_replaceStr</key>
					<string>#</string>
					<key>pagingMethod_divisionStr</key>
					<string></string>
				</dict>
				<key>searchAllResponseIsPagingMethod_PageKeys_Dict</key>
				<dict>
					<key>page</key>
					<string>28</string>
				</dict>
				<key>searchWebPageSourceReplaceStr_Array</key>
				<array>
					<string>换行</string>
					<string>回车</string>
				</array>
				<key>searchOfIsHtml</key>
				<dict>
					<key>searchComicUrlHasSuffixIsPHP</key>
					<false/>
					<key>searchPageHasNextPage</key>
					<true/>
					<key>searchCharset_UTF8IsYES_GB2312IsNo</key>
					<false/>
					<key>searchWebPageSourceResolveBegin</key>
					<string></string>
					<key>searchWebPageSourceResolveEnd</key>
					<string></string>
					<key>searchPageRegularRegex</key>
					<dict>
						<key>searchViewstateRegex</key>
						<string></string>
						<key>searchEventvalidationRegex</key>
						<string></string>
						<key>searchPostParameter</key>
						<dict/>
						<key>searchSetHTTPMethod_POSTOrGET</key>
						<string>GET</string>
						<key>searchResultsRegularRegex</key>
						<dict>
							<key>regex</key>
							<string>&lt;div class=&quot;book-cover&quot;&gt;&lt;a class=&quot;bcover&quot; href=&quot;(.*?)&quot; title=&quot;(.*?)&quot;&gt;&lt;img src=&quot;(.*?)&quot; alt(.*?)状态：&lt;/strong&gt;&lt;span class=&quot;red&quot;&gt;(.*?)&lt;/span&gt;。最近于 \[ &lt;span class=&quot;red&quot;&gt;(.*?)&lt;/span&gt; \] 更新至 \[ &lt;a href=&quot;(.*?)&quot; target=&quot;_blank&quot; class=&quot;blue&quot;&gt;(.*?)&lt;/a&gt;(.*?)作者：&lt;/strong&gt;&lt;a href=&quot;/(.*?)&quot; title=&quot;(.*?)&quot;&gt;(.*?)&lt;/a&gt;&lt;/span&gt;&lt;/dd&gt;(.*?)简介：&lt;/strong&gt;(.*?)\[&lt;a href=&quot;(.*?)&quot;&gt;详情&lt;/a&gt;\]&lt;/span&gt;&lt;/dd&gt;</string>
							<key>name</key>
							<integer>2</integer>
							<key>webPageSourceNameReplaceStr_Array</key>
							<array/>
							<key>author</key>
							<integer>12</integer>
							<key>state</key>
							<integer>5</integer>
							<key>webPageSourceStateReplaceStr_Array</key>
							<array/>
							<key>coverImageUrl</key>
							<integer>3</integer>
							<key>comicDetailPageUrl</key>
							<integer>1</integer>
						</dict>
						<key>nextPageRegex</key>
						<dict>
							<key>regex</key>
							<string>&lt;em&gt;下一页&lt;/em&gt;&lt;/a&gt;&lt;a href=&quot;(.*?)&quot; class=&quot;last&quot; title=&quot;尾页&quot; id=&quot;k_2&quot;&gt;&lt;em&gt;尾页&lt;/em&gt;</string>
							<key>pages</key>
							<integer>1</integer>
						</dict>
					</dict>
				</dict>
				<key>searchOfIsJson</key>
				<dict>
					<key>searchComicDetailPageUrlStringByReplacing_ComicUrlFormat</key>
					<string></string>
					<key>searchJsonResponse_ObjectForKey_Array</key>
					<array/>
					<key>searchComicDetailPageUrlStringPaging_Array</key>
					<array/>
					<key>searchComicCoverImageUrlStringPaging_Array</key>
					<array/>
					<key>searchComidDetailsResponseString_DeteleStr</key>
					<string></string>
					<key>searchKey</key>
					<dict>
						<key>nameKey</key>
						<string></string>
						<key>comicUrlKey</key>
						<string></string>
						<key>stateWithDicShow_StrIsYES_NumIsNO</key>
						<true/>
						<key>stateKey</key>
						<string></string>
						<key>autherKey</key>
						<string></string>
						<key>imageUrlKey</key>
						<string></string>
					</dict>
				</dict>
			</dict>
			<key>downloadOfChooseList</key>
			<dict>
				<key>downloadReplaceImageUrl</key>
				<dict>
					<key>&amp;amp;</key>
					<string>&amp;</string>
					<key>%E5%B0%BE%E9%A1%B5</key>
					<string>尾页</string>
					<key>%E6%8B%9B%E5%8B%9F%E9%A1%B5</key>
					<string>招募页</string>
				</dict>
				<key>downloadPageType_HTMLIsYES_JSONIsNO</key>
				<true/>
				<key>downloadIsUseOnlineBrowserOrOnlineDLbrowser</key>
				<false/>
				<key>downloadUrlListStringFotmatIsReplace_NeedIsYES_OrIsNO</key>
				<false/>
				<key>downloadMainUrlIsNeedReplace_NeedIsYES_OrIsNO</key>
				<false/>
				<key>downloadUrlWithJavaScript_Dict</key>
				<dict>
					<key>javaScriptSoundCode</key>
					<string>&apos;nowPage=&apos;+pVars.page+&apos;;totalPage=&apos;+cInfo.len+&apos;;curFile=&apos;+pVars.manga.filePath+decodeURI(pVars.curFile.replace(pVars.manga.filePath, &apos;&apos;))+&apos;;&apos;</string>
					<key>javaScriptUrlModelRegular</key>
					<string>nowPage=(.*?);totalPage=(.*?);</string>
					<key>javaScriptUrlModelRegexNum</key>
					<string>1</string>
					<key>javaScriptUrlCountRegular</key>
					<string></string>
					<key>javaScriptUrlCountRegexNum</key>
					<string>2</string>
					<key>javaScriptUrlModelExist_Path</key>
					<string></string>
					<key>javaScriptUrlModelExist_PathRegluar</key>
					<string>no(.*?)Page=(.*?);tota(.*?)Page=(.*?);curFile=(.*?);</string>
					<key>javaScripSeparateString</key>
					<string></string>
					<key>javaScriptUrlModelNotExist_Urls</key>
					<string></string>
					<key>javaScriptUrlReplaceStr</key>
					<string>@.html?count=#^p=#</string>
					<key>javaScriptImageUrl</key>
					<string></string>
					<key>javaScriptSqlitString</key>
					<string></string>
					<key>javaScriptSeverHead</key>
					<string></string>
					<key>javaScriptComicUrlNeedReplaceStr</key>
					<string></string>
					<key>webviewSkipUrls</key>
					<array>
						<string>dlads.cn</string>
					</array>
					<key>javaScriptChapterUrlReplaceDict</key>
					<dict>
						<key>^</key>
						<string>#</string>
					</dict>
				</dict>
				<key>downloadUrlList</key>
				<array/>
				<key>downloadOfIsHtml</key>
				<dict>
					<key>downloadImageUrlNeedConvert_DelLastStrNum</key>
					<integer>1</integer>
					<key>downloadImageHostRefererSplicingFormat</key>
					<string>f=http://comic.sfacg.com/</string>
					<key>downloadImageUrlNeedConvert_AppendingStr</key>
					<string>-p#/</string>
					<key>downloadImageUrlBeginForm_0Or1</key>
					<integer>0</integer>
					<key>downloadEstablishDiction_InitialUserAgent</key>
					<dict>
						<key>UserAgent</key>
						<string>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.0.3 Safari/605.1.15</string>
					</dict>
					<key>downloadEstablishDiction_AmendUserAgent</key>
					<dict>
						<key>UserAgent</key>
						<string>Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/13.0.3 Safari/605.1.15</string>
					</dict>
					<key>downloadWebPageSourceReplaceStr_Array</key>
					<array/>
					<key>downloadSelectOfMethod_Arr</key>
					<array/>
				</dict>
				<key>downloadOfIsJson</key>
				<dict>
					<key>downloadAnalysisJsonNeed_SBJSONIsYES_NSJSONSerializationIsNO</key>
					<false/>
					<key>downloadUrlStringWithMainUrl</key>
					<string></string>
					<key>downloadInfoObjectForKey_KeysArray</key>
					<array/>
					<key>downloadWebPageSourceKey</key>
					<dict/>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
